.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.app-title {
  margin-right: 20px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.logout-button {
  margin-left: auto;
  color: white;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
